<section id="photo-gallery" class="py-5">
    <!-- Gallery -->
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-sm-6 py-2">
                <div class="thumbnail">
                    <div class="img-container">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                            class="image" alt="Wintry Mountain Landscape" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 py-2">
                <div class="thumbnail">
                    <div class="img-container">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                            class="image" alt="Wintry Mountain Landscape" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 py-2">
                <div class="thumbnail">
                    <div class="img-container">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                            class="image" alt="Wintry Mountain Landscape" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 py-2">
                <div class="thumbnail">
                    <div class="img-container">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                            class="image" alt="Wintry Mountain Landscape" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 py-2">
                <div class="thumbnail">
                    <div class="img-container">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                            class="image" alt="Wintry Mountain Landscape" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 py-2">
                <div class="thumbnail">
                    <div class="img-container">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                            class="image" alt="Wintry Mountain Landscape" />
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Gallery -->
</section>