{% load static %}

<section id="photo-gallery" class="py-5">
    <!-- Gallery -->
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-sm-6 py-2">
                <div class="thumbnail">
                    <div class="img-container">
                        <img src="{% static 'img/gallery-1.jpg' %}"
                            class="image" alt="Wintry Mountain Landscape" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 py-2">
                <div class="thumbnail">
                    <div class="img-container">
                        <img src="{% static 'img/gallery-2.jpg' %}"
                            class="image" alt="Wintry Mountain Landscape" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 py-2">
                <div class="thumbnail">
                    <div class="img-container">
                        <img src="{% static 'img/gallery-3.jpg' %}"
                            class="image" alt="Wintry Mountain Landscape" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 py-2">
                <div class="thumbnail">
                    <div class="img-container">
                        <img src="{% static 'img/gallery-4.jpg' %}"
                            class="image" alt="Wintry Mountain Landscape" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 py-2">
                <div class="thumbnail">
                    <div class="img-container">
                        <img src="{% static 'img/gallery-5.jpg' %}"
                            class="image" alt="Wintry Mountain Landscape" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 py-2">
                <div class="thumbnail">
                    <div class="img-container">
                        <img src="{% static 'img/gallery-6.jpg' %}"
                            class="image" alt="Wintry Mountain Landscape" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 py-2">
                <div class="thumbnail">
                    <div class="img-container">
                        <img src="{% static 'img/gallery-7.jpg' %}"
                            class="image" alt="Wintry Mountain Landscape" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 py-2">
                <div class="thumbnail">
                    <div class="img-container">
                        <img src="{% static 'img/gallery-8.jpg' %}"
                            class="image" alt="Wintry Mountain Landscape" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 py-2">
                <div class="thumbnail">
                    <div class="img-container">
                        <img src="{% static 'img/gallery-9.jpg' %}"
                            class="image" alt="Wintry Mountain Landscape" />
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Gallery -->
</section>