<div id="price-list" class="py-5">
    <div class="container">
        <h2>Ceník</h2>
        <p></p>
        <table class="table table-hover">
            <thead class="thead-color">
                <tr class="align-middle">
                    <th class="align-middle" scope="col">Popis služeb</th>
                    <th scope="col">Hlavní sezona (červenec - srpen) <p>Pouze týdenní pobyty od So do So</p>
                    </th>
                    <th scope="col">Mimo sezónu (červen, září) <p>Víkendové pobyty, minimálně však dvě noci</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Chata (1-4 osoby)</th>
                    <td>1450 Kč / den</td>
                    <td>1260 Kč / den</td>
                </tr>
                <tr>
                    <th scope="row">Přistýlka</th>
                    <td>250 Kč / den</td>
                    <td>200 Kč / den</td>
                </tr>
                <tr>
                    <th scope="row">Parkovné 1 auto / moto (přívěsný vozík)</th>
                    <td>60 Kč / den</td>
                    <td>50 Kč / den</td>
                </tr>
                <tr>
                    <th scope="row">Pes</th>
                    <td colspan="2">jen po telefonické domluvě, příplatek 100 Kč / den / pejska</td>
                </tr>
                <tr>
                    <th scope="row">Lůžkoviny (deka a polštář s povlečením, prostěradlo)</th>
                    <td>80 Kč / lůžko / pobyt</td>
                    <td>80 Kč / lůžko / pobyt</td>
                </tr>
                <tr>
                    <th scope="row">Spotřeba el. energie a vody</th>
                    <td>zdarma</td>
                    <td>zdarma</td>
                </tr>
                <tr>
                    <th scope="row">Úklid a dezinfekce <i id="tooltip-covid" class="fas fa-info-circle"></i></th>
                    <td>450 Kč / pobyt</td>
                    <td>450 Kč / pobyt</td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-12 text-center">
                <p><b>Cena zahrnuje</b></p>
                <ul>
                    <li>pronájem chaty</li>
                    <li>spotřebu vody a elektřiny</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p><b>Cena nezahrnuje</b></p>
                <ul>
                    <li>vratná kauce 1.000 Kč </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p><b>Informace k ubytování</b></p>
                <ul>
                    <li>Mimosezónní ceny neplatí pro ubytování pouze na jednu noc</li>
                    <li>Příjezd - po 14:00 hod.(sobota), po 16:00 hod.(pracovní dny, neděle)</li>
                    <li>Odjezd - předání chaty - 9:00 až 10:00 hod.</li>
                </ul>
            </div>
        </div>

    </div>
</div>