/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*------------ Variables -------------------*/
:root {
  --primary-color: #5f7f2a;
  --secondary-color: #cecece;
  --light-color: #f4f4f4;
  --dark-color: #333;
  --danger-color: #dc3545;
}

/*------------- GLOBAL SETTINGS -------------------*/
html {
  scroll-behavior: smooth;
}

.text-primary {
  color: var(--primary-color) !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

#introduction b {
  background-color: var(--primary-color);
  color: #fff;
  padding: 2px 5px;
}

body {
  overflow-x: hidden;
  /*font-family: 'Lato', sans-serif;*/
  font-family: "Montserrat", sans-serif;
  color: #545962;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: normal;
  /* text-transform: uppercase; */
  text-align: center;
}

.btn-primary {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  border-width: medium;
  padding: 0.6rem 1.3rem;
  font-size: 1.2rem;
  min-width: 8rem;
}
.btn-primary:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}
.btn-secondary {
  border-color: var(--primary-color);
  color: var(--primary-color);
  border-width: medium;
  background-color: transparent;
  text-decoration: none !important;
}
.btn-secondary:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}

/* -----------------  Navigation Start ----------------- */

.logo {
  height: 100px;
  transition: all 0.3s ease-out;
}

.logo-small {
  height: 80px;
}

.navbar {
  text-transform: uppercase;
  /* font-weight: 700; */
  font-size: 1rem; /*1rem = 16px*/
  letter-spacing: 0.1rem;
  transition: all 0.3s ease-in-out !important;
  background-color: #eee;
  height: 100px;

  opacity: 0.9;
}

.navbar-scroll {
  opacity: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 70px;
  /* border-bottom: #5f7f2a 1px solid; */
}

.navbar-nav {
  margin: auto !important;
}

.navbar-nav li {
  padding: 0.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #777;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.navbar-toggler-icon {
  filter: invert(0.9);
  font-size: 2rem;
  z-index: 999;
}

/* -----------------  Navigation End ----------------- */

/* -----------------  Hero section ----------------- */

.landing {
  position: relative; /*vzhledem k .banner-caption*/
  height: 80vh;
}

.landing img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-caption {
  position: absolute; /*vzhledem k .landing*/
  bottom: 40%;
  left: 17%;
  /* background: rgba(0, 0, 0, 0.2) !important; */
  padding: 0.9rem;

  /* Animation */
  opacity: 0;
  animation: fadeDown 0.5s forwards;
  animation-delay: 0.8s;
}

.banner-caption h1 {
  text-transform: inherit;
  font-size: 6.2rem;
  letter-spacing: 0.2rem;
  font-family: "Indie Flower", cursive;
  color: #fff;
}
.banner-caption h3 {
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  color: #cfcfcf;
  margin-top: -1rem;
  font-size: 2.3rem;
  letter-spacing: 0.1rem;
}

/* -----------------  Hero section End ----------------- */

#background {
  background: linear-gradient(
      rgba(255, 255, 255),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255)
    ),
    url(../img/banner3.jpg) center no-repeat;
  background-size: cover;
}

/* -----------------  Icons section Start ----------------- */

.icon-container {
  width: 100px !important;
}

/* -----------------  Cards section Start ----------------- */

.card-text {
  height: 8rem;
}

/* ----------------- Form section Start ---------------- */

#contact-form {
  background-color: var(--primary-color);
}

.input-group-text {
  /* background-color: var(--primary-color); */
  /* color: #fff; */
  border-color: var(--primary-color);
}

/* ----------------- Form section End ---------------- */

/* ----------------- Footer section Start ---------------- */

footer a {
  color: #5f7f2a;
}

footer a:hover {
  color: #cecece;
  text-decoration: none;
}

footer .svg-inline--fa {
  color: #5f7f2a;
  font-size: 1.2rem;
}

footer b {
  padding: 2px;
  background-color: #5f7f2a;
  color: #fff;
}

footer .address {
  margin-bottom: 2rem;
}

footer .address p {
  padding: 0;
  margin: 0;
  color: #cecece;
}

/* UBYTOVANI START*/

#ubytovani-hero,
#obcerstveni-hero {
  height: 70vh;
}

#ubytovani-hero img,
#obcerstveni-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#photo-gallery .image {
  display: block;
  width: 100%;
}

#price-list ul {
  list-style: none;
}

/* UBYTOVANI END*/

/* GLOBAL START */

.go-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-decoration: none;
  color: white;
  /* background-color: var(--primary-color); */
  background-color: #eee;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 3px solid var(--primary-color);
  opacity: 0;
  visibility: hidden;

  transition: all 0.5s ease-in-out;
}

.go-top .fa-angle-up {
  color: var(--primary-color);
  font-size: 1.7rem;

  animation: up 1.5s infinite;
}

.go-top:hover {
  opacity: 1;
}

.go-top-visible {
  opacity: 0.9;
  visibility: visible;
}

#spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;

  transition: opacity 0.5s ease-in-out;
}

#spinner-wrapper img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
}

.spinner-hidden {
  opacity: 0 !important;
}

/* GLOBAL END */
