<div id="price-list" class="py-5 bg-light">
    <div class="container">
        <h2>Místa v okolí</h2>
        <p></p>
        <table class="table table-hover">
            <thead class="thead-color">
                <tr class="align-middle">
                    <th class="align-middle" scope="col"></th>
                    <th scope="col">Popis</th>
                    <th scope="col">Vzdálenost</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Rybník Hlíza</th>
                    <td>konečně - po zdařilé rekonstrukci a odbahnění - možnost koupání</td>
                    <td>400 m</td>
                </tr>
                <tr>
                    <th scope="row">Vodní Nádrž Jahodnice</th>
                    <td>krásná vodní plocha s okolní přírodou, možnost koupání</td>
                    <td>4 km</td>
                </tr>
                <tr>
                    <th scope="row">Kumburk</th>
                    <td>zřícenina hradu a zatopený lom pod hradem</td>
                    <td>6 km</td>
                </tr>
                <tr>
                    <th scope="row">Železnice</th>
                    <td>obec s unikátním náměstím hojně navštěvovaným turisty</td>
                    <td>7 km</td>
                </tr>
                <tr>
                    <th scope="row">Jičín</th>
                    <td>pohádkové město, Galerie Rumcajsův svět Radka Pilaře, Muzeum hry, Aqua centrum, Valdštejnský
                        zámek, sobotní trhy</td>
                    <td>7 km</td>
                </tr>
                <tr>
                    <th scope="row">Nová Paka</th>
                    <td>hezké městečko s muzeem drahých kamenů</td>
                    <td>8 km</td>
                </tr>
                <tr>
                    <th scope="row">Vrch Brada</th>
                    <td>zřícenina hradu a Rumcajsova jeskyně</td>
                    <td>12 km</td>
                </tr>
                <tr>
                    <th scope="row">Rozhledna Tábor</th>
                    <td>678 m n.m., dominanta s krásným výhledem</td>
                    <td>12 km</td>
                </tr>
                <tr>
                    <th scope="row">Jinolické rybníky</th>
                    <td>soustava rybníků s možností koupání u Prachovských skal</td>
                    <td>12 km</td>
                </tr>
                <tr>
                    <th scope="row">Prachovské skály</th>
                    <td>nevšední skalní masiv se spoustou zajímavých míst a vyhlídkami</td>
                    <td>12 km</td>
                </tr>
                <tr>
                    <th scope="row">Lázně Bělohrad</th>
                    <td>mimo jiné unikátní lom s červeným pískovcem</td>
                    <td>13 km</td>
                </tr>
            </tbody>
        </table>




    </div>
</div>