<section id="introduction" class="py-5 bg-light">
    <div class="container text-justify">
        <h2>Ubytování</h2>


        <p class="text-center"><b>V areálu je pro Vás k dispozici celkem 10 chatek</b>, každá z nich je umístěná na
            stavebním pozemku o výměře 30 m2. Vybavení chatek je nadstandardní – v přízemí se nachází <b>obývací
                místnost s verandou,
                kuchyňský kout s ledničkou, kuchyňskou linkou s dřezem s teplou vodou, indukčním vařičem, rychlovarnou
                konvicí a mikrovlnou troubou</b>.
            Součástí přízemí je také <b>koupelna s WC, umyvadlem a sprchou s teplou vodou</b>. Teplá voda je zajišťována
            vlastním
            bojlerem. V podkroví se nachází <b>ložnice se 4 lůžky s možností přistýlky</b> v obývací
            místnosti v přízemí.

        </p>

    </div>
</section>