<section id="photo-gallery" class="py-5">
    <div class="container">
        <div class="row" id="image-list">
            {% include 'accommodation/photos.html' %}
        </div>
    </div>
    <div class="text-center {% if total_pages <= 1 %} d-none {% endif %}">
        <button id="btn-next" class="btn btn-secondary m-auto mt-3" data-count="{{ total_pages }}">
            <span id="spinner" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span id="caption">Více fotek</span>
        </button>
    </div>
</section>