<div id="price-list" class="py-5 bg-light">
    <div class="container">
        <h2>Ceník</h2>
        <p></p>
        <table class="table table-hover">
            <thead class="thead-color">
                <tr class="align-middle">
                    <th class="align-middle" scope="col">Popis služeb</th>
                    <th scope="col">Hlavní sezona (červenec - srpen) <p>Pouze týdenní pobyty od So do So</p>
                    </th>
                    <th scope="col">Mimo sezónu (červen, září) <p>Víkendové pobyty, minimálně však dvě noci</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for service in services %}
                <tr>
                    <th scope="row">{{ service.name }}</th>
                    <td>{{service.price_main_season }}</td>
                    <td>{{ service.price_off_season }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        {% for note in notes %}
        <div class="row">
            <div class="col-md-12 text-center">
                <p class=""><b>{{ note.name }}</b></p>
                <p>{{ note.text|safe }}</p>
            </div>
        </div>
        {% endfor %}

    </div>
</div>