{% load static %}

<footer class="bg-light pt-5">
    <div class="container">
        <div class="map-legend">
            <div class="row text-center p-3 m-3">
                <div class="col-lg-3 border-end p-0">
                    <a href="#">
                        <p><b>H</b>ome</p>
                    </a>
                    <a href="accommodation.html">
                        <p><b>U</b>bytování</p>
                    </a>
                    <a href="activities.html">
                        <p><b>A</b>ktivity</p>
                    </a>
                    <a href="restaurant.html">
                        <p><b>O</b>bčerstvení</p>
                    </a>
                    <a href="accommodation.html#price-list">
                        <p><b>C</b>eník</p>
                    </a>
                    <a href="contact.html">
                        <p><b>K</b>ontakt</p>
                    </a>
                </div>
                <div class="col-lg-3 border-end p-0">
                    <div class="row">
                        <div class="col-md-12 p-0">
                            <i class="fas fa-phone" data-fa-transform="shrink-3 up-0 left-0"></i>
                        </div>
                        <div class="col-md-12 text-center p-0">
                            <p>+420 704 170 710</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 p-0">
                            <i class="fas fa-envelope" data-fa-transform="shrink-1 up-0 left-0"></i>
                        </div>
                        <div class="col-md-12 text-center p-0">
                            <p>prachovec@gmail.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 p-0">
                            <i class="fas fa-clock" data-fa-transform="shrink-1 up-0 left-0"></i>
                        </div>
                        <div class="col-md-12 text-center p-0">
                            <p>8:00 - 18:00</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 border-end p-0">
                    <div class="row">
                        <div class="col-md-12 p-0">
                            <i class="fas fa-calendar-alt" data-fa-transform="shrink-0 up-0 left-0"></i>
                        </div>
                        <div class="col-md-12 text-center p-0">
                            <p>1.května - 15.října</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 p-0">
                            <i class="fas fa-map-marker-alt" data-fa-transform="shrink-0 up-0 left-0"></i>
                        </div>
                        <div class="col-md-12 text-center p-0">
                            <p>Dřevěnice u Jičína</p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 p-0">
                            <i class="fas fa-location-arrow" data-fa-transform="shrink-0 up-0 left-0"></i>
                        </div>
                        <div class="col-md-12 text-center p-0">
                            <p>50.4551022N, 15.4504842E</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 p-0">
                    <p><b>Provozovatel</b></p>
                    <p>PRACHOVEC s.r.o.</p>
                    <p>Palackého 2131/23</p>
                    <p>466 01</p>
                    <p>Jablonec nad Nisou</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center p-3">
            <!-- <div class="col-md-12 text-center address">
                      <p><b>Provozovatel</b></p>
                      <p>PRACHOVEC s.r.o.</p>
                      <p>Palackého 2131/23</p>
                      <p>46601 Jablonec nad Nisou</p>
  
                  </div> -->
            <div class="col-md-12 text-center">
                <img src="{% static 'img/logoprachovec_tr.png' %}" width="100">
            </div>
            <div class="col-md-12 text-center copyright">
                <p>&copy; 2020-2024 Prachovec s.r.o. | made by O. Synek</p>
            </div>
        </div>
    </div>
</footer>