<section id="introduction" class="bg-light">
    <div class="container text-justify">

        <p>
            Vítejte v rodinném rekreačním areálu Prachovec. Areál je umístěn pod zalesněným kopcem Lom nad vesničkou
            Dřevěnice kousek
            od <b>Českého ráje</b>.
            Nedaleko je proslulé pískovcové skalní město <b>Prachovské skály</b>.
            Poskytujeme ubytování v deseti <b>vybavených
                dvoupodlažních chatách</b>.
            Chatky jsou <b>prostorné a
                zrekonstruované</b>, jsou vybaveny obývací místností s kuchyňským koutem, koupelnou s teplou vodou,
            vlastní toaletou
            a verandou. V patře se nachází 4 postele s možností přistýlky. Ubytování je tedy vhodné i <b>pro rodiny s
                dětmi</b>.
        </p>
    </div>
</section>