{% load static %}

<section id="cards" class="pb-5">
    <div class="container">
        <div class="row">

            <div class="col-lg-4" data-aos="fade-in" data-aos-delay="300">
                <div class="card card-accommodation shadow">
                    <img src="{% static 'img/ubytovani.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <i class="fas fa-home fa-2x text-primary" data-fa-transform="shrink-3 up-3"></i>
                        <h5><b>Ubytování</b></h2>
                        <p class="card-text d-flex align-items-center">V areálu je pro vás k dispozici celkem 10 chatek,
                            každá z nich je umístěná
                            na stavebním pozemku o výměře 30 m2. Vybavení chatek je nadstandardní...</p>
                        <a href="accommodation.html"><button class="btn btn-outline-light btn-primary"
                                href="accommodation.html">Více</button></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4" data-aos="fade-in" data-aos-delay="300">
                <div class="card card-restaurant shadow">
                    <img src="{% static 'img/restaurace.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <i class="fas fa-utensils fa-2x text-primary" data-fa-transform="shrink-2 up-3"></i>
                        <h5><b>Občerstvení</b></h2>
                        <p class="card-text d-flex align-items-center">Nově jsme náš stánek opatřili pergolou. Čepujeme
                            plzeňský Prazdroj a
                            Kozla
                            11 ! K dispozici je i sezení a něco k zakousnutí.</p>
                        <a href="restaurant.html"><button class="btn btn-outline-light btn-primary"
                                href="restaurant.html">Více</button></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4" data-aos="fade-in" data-aos-delay="300">
                <div class="card card-activities shadow">
                    <img src="{% static 'img/prachovskeskaly.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <i class="fas fa-bicycle fa-2x text-primary" data-fa-transform="shrink-0 up-3"></i>
                        <h5><b>Aktivity</b></h2>
                        <p class="card-text d-flex align-items-center">V okolí se nachází mnoho zajímavých výletních
                            míst. Mimo již zmíněného
                            města
                            Jičín to jsou například unikátní Prachovské skály, lovecký zámek...</p>
                        <a href="activities.html"><button class="btn btn-outline-light btn-primary"
                                href="#course">Více</button></a>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>