{% load static %}

<section class="landing" data-aos="fade-in" data-aos-delay="400">
  <div id="carouselExampleIndicators" class="carousel slide h-100">
    {% comment %} <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div> {% endcomment %}
    <div class="carousel-indicators">
      {% for image in carousel_images %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}"
          {% if forloop.first %}class="active"{% endif %} aria-current="true" aria-label="Slide {{ forloop.counter }}">
        </button>
      {% endfor %}
    </div>
    <div class="carousel-inner h-100">
      {% comment %} <div class="carousel-item active carousel-item1 h-100">
        <img src="{% static 'img/banner1.jpg' %}" alt="">
      </div>
      <div class="carousel-item carousel-item2 h-100">
        <img src="{% static 'img/banner2.jpg' %}" alt="">
      </div>
      <div class="carousel-item carousel-item3 h-100">
        <img src="{% static 'img/banner3.jpg' %}" alt="">
      </div> {% endcomment %}
      {% for image in carousel_images %}
      <div class="carousel-item {% if forloop.first %}active{% endif %} h-100">
        <img src="{{ image.image.url }}" alt="">
      </div>        
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="banner-caption">
    <h1>Prachovec</h1>
    <h3>Klidná chatová oblast u Českého ráje</h3>
  </div>
</section>