<section id="icons" class=" py-5">
  <div class="container">
    <div class="row">
      <!-- Icon 1 -->
      <div class="col-md-3 d-flex gap-4">
        <i class="fas fa-wifi fa-2x text-primary"></i>
        <div>
          <h5 class="fw-bold">Wi-Fi</h5>
          <p class="text-muted">
            V celém areálu je k dispozici WIFI síť zdarma.
          </p>
        </div>
      </div>
      <!-- Icon 2 -->
      <div class="col-md-3 d-flex gap-4">
        <i class="fas fa-utensils fa-2x text-primary"></i>
        <div>
          <h5 class="fw-bold">Restaurace</h5>
          <p class="text-muted">
            V naší restauraci si můžete dát něco k jídlu i k pití.
          </p>
        </div>
      </div>
      <!-- Icon 3 -->
      <div class="col-md-3 d-flex gap-4">
        <i class="fas fa-swimming-pool fa-2x text-primary"></i>
        <div>
          <h5 class="fw-bold">Bazén</h5>
          <p class="text-muted">
            V letních měsících je k dispozici venkovní bazén.
          </p>
        </div>
      </div>
      <!-- Icon 4 -->
      <div class="col-md-3 d-flex gap-4">
        <i class="fas fa-child fa-2x text-primary"></i>
        <div>
          <h5 class="fw-bold">Dětské hřiště</h5>
          <p class="text-muted">Máme pro vaše děti připravené dětské hřiště.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Icon 1 -->
      <div class="col-md-3 d-flex gap-4">
        <i class="fas fa-dog fa-2x text-primary"></i>
        <div>
          <h5 class="fw-bold">Zvířátka</h5>
          <p class="text-muted">
            Domácí mazlíčci jsou vítáni.
          </p>
        </div>
      </div>
      <!-- Icon 2 -->
      <div class="col-md-3 d-flex gap-4">
        <i class="fas fa-bicycle fa-2x text-primary"></i>
        <div>
          <h5 class="fw-bold">Aktivity</h5>
          <p class="text-muted">
            V okolí se nachází mnoho zajímavých výletních míst.
          </p>
        </div>
      </div>
      <!-- Icon 3 -->
      <div class="col-md-3 d-flex gap-4">
        <i class="fas fa-beer fa-2x text-primary"></i>
        <div>
          <h5 class="fw-bold">Pivo</h5>
          <p class="text-muted">
            Čepujeme plzeňský Prazdroj a Kozla 11.
          </p>
        </div>
      </div>
      <!-- Icon 4 -->
      <div class="col-md-3 d-flex gap-4">
        <i class="fas fa-home fa-2x text-primary"></i>
        <div>
          <h5 class="fw-bold">Zázemí</h5>
          <p class="text-muted">Vybavení zahrnuje varnou desku, mikrovlnku i lednici.</p>
        </div>
      </div>
    </div>
  </div>
</section>