<section id="news" class=" py-4">

    <div class="container">
        <h2>Aktuality</h2>
        <div class="row">

            {% for one_news in news %}

            <div class="col-md-6" data-aos="fade-in" data-aos-delay="300">
                <div class="card shadow my-1">
                    <div class="card-header bg-white d-flex justify-content-center align-items-center gap-3">
                        {% comment %} <i class="fa fa-calendar text-primary fa-1x"></i> {% endcomment %}
                        <h5 class="title m-0"><b>{{ one_news.date.day }}. {{ one_news.date.month }}.
                                {{ one_news.date.year }}</b></h5>
                    </div>
                    <div class="card-body text-center">

                        <p>{{ one_news.text|safe }}</p>
                    </div>
                </div>
            </div>

            {% endfor %}





        </div>
    </div>

    <div class="m-lg-5 mt-4 py-3 d-flex justify-content-center">
        <button class="btn btn-lg btn-secondary">Poptat termín</button>
    </div>

</section>