<section id="news" class=" py-4">

    <div class="container">
        <h2>Aktuality</h2>
        <div class="row">

            <div class="col-md-6" data-aos="fade-in" data-aos-delay="300">
                <div class="card shadow my-1">
                    <div class="card-header bg-white d-flex justify-content-center align-items-center gap-3">
                        <i class="fa fa-calendar text-primary fa-2x"></i>
                        <h5 class="title m-0"><b>13.4.2024</b></h5>
                    </div>
                    <div class="card-body text-center">

                        <p>Rezervace na letošní sezónu jsou již v plném proudu. Některé oblíbené termíny se nám již
                            téměř zaplnily, doporučujeme včasnou rezervaci !</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-in" data-aos-delay="300">
                <div class="card shadow my-1">
                    <div class="card-header bg-white d-flex justify-content-center align-items-center gap-3">
                        <i class="fa fa-calendar text-primary fa-2x"></i>
                        <h5 class="title m-0"><b>19.3.2024</b></h5>
                    </div>
                    <div class="card-body text-center">

                        <p>Na základě dotazů z řad zájemců o ubytování v našem areálu Prachovec informujeme, že bazén
                            bude letos v provozu od 29.6.2024 !</p>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="m-5 d-flex justify-content-center">
        <button class="btn btn-lg btn-secondary">Poptat termín</button>
    </div>

</section>