<section id="contact-form" class="py-5">
  <div class="container pt-5 pb-5">
    <h2 class="mb-4 text-light">Poptat termín</h2>
    <form method="POST" action="{{ contact_section }}">
      {% csrf_token %}

      <!-- Row for Name and Surname and Number of Persons -->
      <div class="row mb-3">
        <div class="col-md-6 mb-3 my-mb-0">
          <label for="name" class="form-label text-light">Jméno</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
            {{ form.full_name }}
          </div>
        </div>
        <div class="col-md-6">
          <label for="num_persons" class="form-label text-light">Počet osob</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-users"></i></span>
            {{ form.persons }}
          </div>
        </div>
      </div>

      <!-- Row for Phone and Email -->
      <div class="row mb-3">
        <div class="col-md-6 mb-3 my-mb-0">
          <label for="phone" class="form-label text-light">Telefon</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-phone"></i></span>
            {{ form.phone }}
          </div>
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label text-light">Email</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            {{ form.email }}
          </div>
        </div>
      </div>

      <!-- Row for Dates -->
      <div class="row mb-3">
        <div class="col-md-6 mb-3 my-mb-0">
          <label for="arrival_date" class="form-label text-light">Datum příjezdu</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            {{ form.date_arrival }}
          </div>
        </div>
        <div class="col-md-6">
          <label for="departure_date" class="form-label text-light">Datum odjezdu</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            {{ form.date_departure }}
          </div>
        </div>
      </div>

      <!-- Row for Note -->
      <div class="row mb-3">
        <div class="col-12">
          <label for="note" class="form-label text-light">Poznámka</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-sticky-note"></i></span>
            {{ form.note }}
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="d-flex justify-content-center gap-2">
        <button type="submit" class="btn btn-lg btn-bg-secondary btn-outline-light">Odeslat</button>
      </div>
    </form>

    <!-- Messages -->
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <p class="mt-3 mb-0 alert alert-success float-center text-center">
      {{ message }}
    </p>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <p class="mt-3 mb-0 alert alert-danger float-center text-center">
      {{ message }}
    </p>
    {% endif %}
    {% endfor %}
  </div>
</section>