{% load static %}

<section id="photo-gallery" class="py-5">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-sm-6 py-2">
                <div class="thumbnail text-center">
                    <div class="img-container">
                        <img src="{% static 'img/aktivity-1.jpg' %}" class="image" alt="Activity 1" />
                    </div>
                    <p class="mt-2">Zřícenina hradu Kumburk</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 py-2">
                <div class="thumbnail text-center">
                    <div class="img-container">
                        <img src="{% static 'img/aktivity-2.jpg' %}" class="image" alt="Activity 2" />
                    </div>
                    <p class="mt-2">Zřícenina hradu Kumburk</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 py-2">
                <div class="thumbnail text-center">
                    <div class="img-container">
                        <img src="{% static 'img/aktivity-3.jpg' %}" class="image" alt="Activity 3" />
                    </div>
                    <p class="mt-2">Výhled z hradu Kumburk</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 py-2">
                <div class="thumbnail text-center">
                    <div class="img-container">
                        <img src="{% static 'img/aktivity-4.jpg' %}" class="image" alt="Activity 4" />
                    </div>
                    <p class="mt-2">Prachovské skály</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 py-2">
                <div class="thumbnail text-center">
                    <div class="img-container">
                        <img src="{% static 'img/prachovskeskaly.jpg' %}" class="image" alt="Activity 5" />
                    </div>
                    <p class="mt-2">Prachovské skály</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 py-2">
                <div class="thumbnail text-center">
                    <div class="img-container">
                        <img src="{% static 'img/aktivity-carousel-1.jpg' %}" class="image" alt="Activity 6" />
                    </div>
                    <p class="mt-2">Prachovské skály</p>
                </div>
            </div>

        </div>
    </div>
</section>