{% load static %}
<header>
  <nav class="navbar navbar-expand-lg navbar-dark justify-content-center fixed-top p-1">
    <div class="container">
      <a href="{% url 'mysite:home' %}"><img class="navbar-brand logo" src=" {% static 'img/logoprachovec_tr.png' %}"
          alt="logo" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-center justify-content-center">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'mysite:home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/ubytovani' %}active{% endif %}"
              href="{% url 'mysite:ubytovani' %}">Ubytování</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/obcerstveni' %}active{% endif %}"
              href="{% url 'mysite:obcerstveni' %}">Občerstvení</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/aktivity' %}active{% endif %}"
              href="{% url 'mysite:aktivity' %}">Aktivity</a>
          </li>

        </ul>
        <a class="text-decoration-none d-flex justify-content-center"><button class="btn btn-secondary"
            data-bs-toggle="modal" data-bs-target="#contactModal">
            <i class="fas fa-address-book">
            </i>Kontakt
          </button></a>
      </div>
    </div>
  </nav>


  <!-- Modal -->
  {% include 'mysite/base/modal_contact.html' %}

</header>