<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Kontakt</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <h2>Chatový areál Prachovec</h2>
                    <table class="table table-hover table-borderless">
                        <tbody>
                            <tr>
                                <th>Telefon</th>
                                <td>+420 704 170 710</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>prachovec@gmail.com</td>
                            </tr>
                            <tr>
                                <th>Adresa</th>
                                <td>Dřevěnice u Jičína</td>
                            </tr>
                            <tr>
                                <th>GPS</th>
                                <td>50.4551022N, 15.4504842E</td>
                            </tr>
                            <tr>
                                <th>Provozní období</th>
                                <td>1.května - 15.října</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row mt-5">
                        <h2>Kde nás najdete</h2>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10160.957675241852!2d15.4509624!3d50.4552662!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4ac8fbb52da0f89a!2sChatov%C3%BD%20are%C3%A1l%20PRACHOVEC!5e0!3m2!1scs!2scz!4v1590756060931!5m2!1scs!2scz"
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-arrow-right">
                    </i>Zavřít</button>

            </div>
        </div>
    </div>
</div>