<!--Start Price-list Section -->
<div id="price-list" class="py-5 bg-light">
  <div class="container">
    <h2 class="mb-5">Nápojový lístek</h2>
    <table class="table table-hover">
      <thead class="thead-color">
        <tr class="align-middle">
          <th class="align-middle" scope="col"></th>
          <th scope="col">Nápoj</th>
          <th scope="col">Cena</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" rowspan="2">Pivo čepované</th>
          <td>Plzeň 0,5l, Plzeň 0,3l</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Kozel 0,5l, Kozel 0,3l</td>
          <td>---</td>
        </tr>
        <tr>
          <th scope="row">Pivo plech, láhev</th>
          <td>Krušovice tmavé 0,5l, Birrel (nealko) 0,5l, Cider 0,25l</td>
          <td>---</td>
        </tr>
        <tr>
          <th scope="row">Víno rozlévané</th>
          <td>Bílé 0,2l, Červené 0,2l, Střik 0,5l</td>
          <td>---</td>
        </tr>
        <tr>
          <th scope="row" rowspan="5">Ostatní alkohol</th>
          <td>Jack Daniels Honey, Absinth</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Tulamore Dew, Finská vodka, Metaxa 5*</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Božkov (Rum, Fernet), Becherovka</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Rum Republica, Jagermeister</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Zelená, Griotka, Berentzen</td>
          <td>---</td>
        </tr>
        <tr>
          <th scope="row" rowspan="2">Teplé nápoje</th>
          <td>Káva Espresso, Káva turecká</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Čaj, Horká griotka, Grog</td>
          <td>---</td>
        </tr>
        <tr>
          <th scope="row" rowspan="5">Nealko nápoje</th>
          <td>Kofola (rozlévaná) 0,1l</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Juice (rozlévaný) 0,1l</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Coca-Cola 0,5l</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Orangina 0,5l, Kofola 0,5l, Vinea 0,5l</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Voda balená 0,5l</td>
          <td>---</td>
        </tr>
      </tbody>
    </table>

    <h2 class="mt-5">Jídelní lístek</h2>
    <table class="table table-hover">
      <thead class="thead-color">
        <tr class="align-middle">
          <th class="align-middle" scope="col"></th>
          <th scope="col">Jídlo</th>
          <th scope="col">Cena</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" rowspan="4">Hlavní jídla</th>
          <td>Smažený sýr, hranolky</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Smažené rybí prsty, hranolky</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Smažené kuřecí stripsy, hranolky</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Hamburger hovězí</td>
          <td>---</td>
        </tr>
        <tr>
          <th scope="row" rowspan="4">Něco na chuť</th>
          <td>Klobása/Párek, hořčice, okurka, pečivo</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Bramborák 4ks</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Hranolky/Krokety 200g</td>
          <td>---</td>
        </tr>
        <tr>
          <td>Brambůrky, Arašídy, Tyčinka, Tatranka</td>
          <td>---</td>
        </tr>
        <tr>
          <th scope="row">Nanuky</th>
          <td>Mrož, Kuba, Míša, Kornout</td>
          <td>---</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--End Price-list Section -->