<!--Start Price-list Section -->
<div id="price-list" class="py-5">
    <div class="container">
      <h2>Nápojový lístek</h2>
          <p></p>
      <table class="table table-hover">
        <thead class="thead-color">
          <tr class="align-middle">
            <th class="align-middle bg-primary text-white" scope="col">Pivo čepované</th>
            <th scope="col" class="bg-primary text-white">Cena</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Plzeň 0,5l,  Plzeň 0,3l</th>
            <td>---</td>
          </tr>
          <tr>
            <th scope="row">Kozel 0,5l,  Kozel 0,3l</th>
            <td>---</td>          
          </tr>
        </tbody>
        
        <thead class="thead-color">
          <tr class="align-middle">
            <th class="align-middle bg-primary text-white" scope="col">Pivo plech, láhev</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Krušovice tmavé 0,5l,  Birrel (nealko) 0,5l,  Cider 0,25l</th>
            <td>---</td>
          </tr>
        </tbody>     
        
        <thead class="thead-color">
          <tr class="align-middle">
            <th class="align-middle bg-primary text-white" scope="col">Víno rozlévané</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Bílé 0,2l,  Červené 0,2l,  Střik 0,5l</th>
            <td>---</td>
          </tr>
        </tbody>   
        
        <thead class="thead-color">
          <tr class="align-middle">
            <th class="align-middle bg-primary text-white" scope="col">Ostatní alkohol 0,04l</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Jack Daniels Honey,  Absinth</th>
            <td>---</td>
          </tr>
          <tr>
            <th scope="row">Tulamore Dew,  Finská vodka,  Metaxa 5*</th>
            <td>---</td>          
          </tr>
          <tr>
            <th scope="row">Božkov (Rum, Fernet), Becherovka</th>
            <td>---</td>
          </tr>
          <tr>
            <th scope="row">Rum Republica, Jagermeister</th>
            <td>---</td>          
          </tr>
          <tr>
            <th scope="row">Zelená, Griotka, Berentzen</th>
            <td>---</td>          
          </tr>
          <tr>
            <th scope="row">Slivovice, hruškovice</th>
            <td>---</td>          
          </tr>            
        </tbody> 
        
        <thead class="thead-color">
          <tr class="align-middle">
            <th class="align-middle bg-primary text-white" scope="col">Teplé nápoje</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Káva Espresso, Káva turecká</th>
            <td>---</td>
          </tr>
          <tr>
            <th scope="row">Čaj, Horká griotka, Grog</th>
            <td>---</td>          
          </tr>
        </tbody> 
        
        <thead class="thead-color">
          <tr class="align-middle">
            <th class="align-middle bg-primary text-white" scope="col">Nealko nápoje</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Kofola (rozlévaná) 0,1l</th>
            <td>---</td>
          </tr>
          <tr>
            <th scope="row">Juice (rozlévaný) 0,1l </th>
            <td>---</td>
          </tr>
          <tr>
            <th scope="row">Coca-Cola 0,5l</th>
            <td>---</td>          
          </tr>
          <tr>
            <th scope="row">Orangina 0,5l, Kofola 0,5l, Vinea 0,5l</th>
            <td>---</td>          
          </tr>
          <tr>
            <th scope="row">Voda balená 0,5l</th>
            <td>---</td>
          </tr>
       </tbody>      
        
      </table>
      
      
      
  
     
     
     
     
     
     
     
     
  
      <p></p>
  
      <h2 class="mt-5">Jídelní lístek</h2>
          
      <table class="table table-hover">
        <thead class="thead-color">
          <tr class="align-middle">
            <th class="align-middle bg-primary text-white" scope="col">Hlavní jídla (dle denní nabídky)</th>
            <th scope="col" class="bg-primary text-white">Cena</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Smažený sýr, hranolky</th>
            <td>---</td>
          </tr>
          <tr>
            <th scope="row">Smažené rybí prsty, hranolky</th>
            <td>---</td>          
          </tr>
          <tr>
            <th scope="row">Smažené kuřecí stripsy, hranolky</th>
            <td>---</td>          
          </tr>
          <tr>
            <th scope="row">Hamburger hovězí</th>
            <td>---</td>          
          </tr>
        </tbody>
        
        <thead class="thead-color">
          <tr class="align-middle">
            <th class="align-middle bg-primary text-white" scope="col">Něco na chuť</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">Klobása/Párek, hořčice, okurka, pečivo</th>
            <td>---</td>          
          </tr>
          <tr>
            <th scope="row">Bramborák 4ks</th>
            <td>---</td>
          </tr>
          <tr>
            <th scope="row">Hranolky/Krokety 200g</th>
            <td>---</td>          
          </tr>
          <tr>
            <th scope="row">Brambůrky, Arašídy, Tyčinka, Tatranka</th>
            <td>---</td>          
          </tr>
        </tbody>     
        
        <thead class="thead-color">
          <tr class="align-middle">
            <th class="align-middle bg-primary text-white" scope="col">Nanuky (dle denní nabídky)</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Mrož, Kuba, Míša, Kornout</th>
            <td>---</td>
          </tr>
        </tbody>   
        
      
        
      </table>   
     
     
     
     
     
     
     
     
     
     
      
  
  
  
    </div>
  </div>
  <!--End Price-list Section -->